.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns:[first] 15% [line2]  auto [line3] 15% [end];
   
  grid-template-rows:  [row1-start] 20% [row1-end] auto [third-line] 20% [last-line];;
}

.homepage {
  grid-row: row1-end / last-line
}

.head{
  grid-column: first / line2;
  grid-row: row1-start / row1-end;
  /* grid-column-start: first;
  grid-column-end: line2;
  grid-row-start: row1-start;
  grid-row-end: row1-end ; */
}

.userDetails{
  grid-column: line3 / col4-start;
  grid-row: row1-start / row1-end;
  /* grid-column-start: line3;
  grid-column-end: col4-start;
  grid-row-start: row1-start;
  grid-row-end: row1-end ; */
}

.nav{
  grid-column: five / end;
  grid-row: row1-start / row1-end;
   /* grid-column-start: five;
  grid-column-end: end;
  grid-row-start: row1-start;
  grid-row-end: row1-end ; */
} 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
